.size{
    padding: 0 80px;
}
.full-width{
    width: 100%;
}
.header{
    color: #c70017;
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 0;
    span{
        color: #005db3;
    }
}

@media only screen and (max-width:991px){}
@media only screen and (max-width:768px){
    .size{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media only screen and (max-width:480px){}
@media only screen and (max-width:360px){}
@media only screen and (max-width:320px){}