body{
    background: url(../images/details/background.png);
}
#filter{
    padding-top: 30px;
    padding-bottom: 30px;
    ul.button{
        background: #005db3;
        height: 65px;
        border-radius: 10px;
        li.content{
            color: white;
            line-height: 65px;
            font-size: 16px;
            width: 140px !important;
        }
        li{
            margin-left: 20px;
            list-style: none;
        }
        li.items{
            float: left;
            border-radius: 0;
            width: 190px;
            button{
                width: 190px;
                border-radius: 0;
                margin-top: 16px;
                background: white;
                color: #757575;
                text-align: left !important;
                span.caret{
                    float: right;
                    margin-top: 7px;
                }
                
            }
            ul.dropdown-menu{
                background: white !important;
                color: #757575 !important;
            }
        }
        li.search{
            float: left;
            margin-top: 16px;
            button{
                width: 120px;
                background: #007ef2;
                color: white;
                border: 1px solid #007ef2;
            }
        }
    }
}
#link{
    margin: 0 80px;
    border: 1px solid #c4c4c4;
    height: 40px;
    p{
        line-height: 40px;
        padding-left: 40px;
        font-weight: 300;
    }
}

.apartment{
    box-shadow:inset 0px -11px 15px 0px rgba(156, 154, 154, 0.64);
    h3{
        margin-top: 40px;
        margin-bottom: 0px !important;
    }
    hr{
        position: relative;
        margin-top: 10px !important;
    }
    hr:after{
        position: absolute;
        content: "";
        top: 0px;
        height: 3px;
        background: #0273db;
        width: 270px;        
    }
    #thumb{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .items{
            width: 32%;
            margin-bottom: 40px;
            .info{
                font-size: 13px;
                h4{
                    font-size: 14px;
                    color: black;
                }
                h6{
                    font-weight: 300;
                    color: #828282;
                    .btn{
                        padding: 2px 12px;
                        border: none;
                        font-weight: 300;
                        margin-right: 10px;
                    }
                    .area{
                        color: #ff0000;
                    }
                }
            }
        }
        
    }
}
@media only screen and (max-width:991px){
    #filter{
        ul.button{
            height: 115px;
        }
    }
}
@media only screen and (max-width:768px){
    
    #link{
        margin: 0 15px;
    }
    #thumb{
        .items{
            width: 48% !important;
        }
    }
    
}
@media only screen and (max-width:480px){
    #thumb{
        .items{
            width: 100% !important;
        }
    }
    #filter{
        ul.button{
            height: 205px;
            li.content{
                line-height: 205px;
            }
        }
    }
}
@media only screen and (max-width:360px){
        #filter{
        ul.button{
            height: 205px;
            li.content{
                display: none;
            }
        }
    }
}
@media only screen and (max-width:320px){}