body {
  background: url(../images/details/background.png); }

#filter {
  padding-top: 30px;
  padding-bottom: 30px; }
  #filter ul.button {
    background: #005db3;
    height: 65px;
    border-radius: 10px; }
    #filter ul.button li.content {
      color: white;
      line-height: 65px;
      font-size: 16px;
      width: 140px !important; }
    #filter ul.button li {
      margin-left: 20px;
      list-style: none; }
    #filter ul.button li.items {
      float: left;
      border-radius: 0;
      width: 190px; }
      #filter ul.button li.items button {
        width: 190px;
        border-radius: 0;
        margin-top: 16px;
        background: white;
        color: #757575;
        text-align: left !important; }
        #filter ul.button li.items button span.caret {
          float: right;
          margin-top: 7px; }
      #filter ul.button li.items ul.dropdown-menu {
        background: white !important;
        color: #757575 !important; }
    #filter ul.button li.search {
      float: left;
      margin-top: 16px; }
      #filter ul.button li.search button {
        width: 120px;
        background: #007ef2;
        color: white;
        border: 1px solid #007ef2; }

#link {
  margin: 0 80px;
  border: 1px solid #c4c4c4;
  height: 40px; }
  #link p {
    line-height: 40px;
    padding-left: 40px;
    font-weight: 300; }

.apartment {
  -webkit-box-shadow: inset 0px -11px 15px 0px rgba(156, 154, 154, 0.64);
  box-shadow: inset 0px -11px 15px 0px rgba(156, 154, 154, 0.64); }
  .apartment h3 {
    margin-top: 40px;
    margin-bottom: 0px !important; }
  .apartment hr {
    position: relative;
    margin-top: 10px !important; }
  .apartment hr:after {
    position: absolute;
    content: "";
    top: 0px;
    height: 3px;
    background: #0273db;
    width: 270px; }
  .apartment #thumb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .apartment #thumb .items {
      width: 32%;
      margin-bottom: 40px; }
      .apartment #thumb .items .info {
        font-size: 13px; }
        .apartment #thumb .items .info h4 {
          font-size: 14px;
          color: black; }
        .apartment #thumb .items .info h6 {
          font-weight: 300;
          color: #828282; }
          .apartment #thumb .items .info h6 .btn {
            padding: 2px 12px;
            border: none;
            font-weight: 300;
            margin-right: 10px; }
          .apartment #thumb .items .info h6 .area {
            color: #ff0000; }

@media only screen and (max-width: 991px) {
  #filter ul.button {
    height: 115px; } }

@media only screen and (max-width: 768px) {
  #link {
    margin: 0 15px; }
  #thumb .items {
    width: 48% !important; } }

@media only screen and (max-width: 480px) {
  #thumb .items {
    width: 100% !important; }
  #filter ul.button {
    height: 205px; }
    #filter ul.button li.content {
      line-height: 205px; } }

@media only screen and (max-width: 360px) {
  #filter ul.button {
    height: 205px; }
    #filter ul.button li.content {
      display: none; } }
