#benefit {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url(../images/details/background.png); }
  #benefit hr {
    width: 100px;
    margin: 0 auto;
    border-top: 1px solid #a8a8a8;
    margin-top: 0 !important;
    margin-bottom: 30px; }
  #benefit p {
    color: #5a5a5a;
    line-height: 25px; }
  #benefit h5 {
    line-height: 25px; }

.size p {
  font-size: 13px; }

#survey {
  position: relative; }
  #survey img {
    height: 646px; }
  #survey .info {
    position: absolute;
    top: 60px;
    left: 80px;
    color: white;
    width: 640px;
    background: rgba(171, 0, 0, 0.59);
    border-radius: 20px;
    padding: 50px;
    border: none; }
    #survey .info h4 {
      font-size: 20px; }
    #survey .info p {
      font-weight: 300;
      color: #fbc8c8; }
      #survey .info p span {
        color: white; }

#locate {
  background: url(../images/details/background.png);
  padding-top: 50px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #locate a {
    height: 464px;
    width: 45%; }
  #locate .content h3 {
    margin-top: 40px; }
  #locate .content p {
    font-size: 13px;
    color: #4b4b4b; }
    #locate .content p i {
      color: #005db3;
      padding-right: 15px; }

.detail {
  position: relative; }
  .detail img {
    height: 487px;
    width: 100%; }
  .detail .small {
    display: none; }
  .detail .content {
    position: absolute;
    top: 70px; }
    .detail .content p {
      font-size: 13px;
      color: #4b4b4b; }
      .detail .content p i {
        font-size: 6px;
        -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        transform: translateY(-3px);
        color: #005db3;
        padding-right: 5px; }

#facility .content {
  left: 80px; }

#proof {
  margin-top: 50px;
  margin-bottom: 50px; }
  #proof .content {
    right: 80px; }

.split {
  padding-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .split .content {
    width: 50%; }
  .split a {
    width: 50%; }
    .split a img {
      width: 100%;
      height: 100%; }

#rooms {
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 4px 3px #efefef;
  box-shadow: 0 0 4px 3px #efefef;
  padding-top: 50px; }
  #rooms img {
    padding-right: 50px; }

#sale {
  margin-top: 50px;
  margin-bottom: 50px; }
  #sale a {
    width: 65%; }
  #sale .content {
    width: 35%; }

#commit {
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 4px 3px #efefef;
  box-shadow: 0 0 4px 3px #efefef;
  padding-top: 50px; }
  #commit a {
    width: 35%; }
  #commit .content {
    width: 65%;
    padding-left: 100px; }
    #commit .content i {
      color: #005db3;
      padding-right: 10px; }

#reviews .swiper-container {
  width: 100%;
  height: 100%;
  margin: 20px auto; }
  #reviews .swiper-container .swiper-slide {
    background: #005db3;
    color: white;
    text-align: center;
    border: none;
    font-size: 18px;
    padding: 30px 50px;
    border-radius: 10px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }

#reviews .content {
  position: relative;
  font-weight: 300;
  margin-left: 50px; }
  #reviews .content i.fa-quote-left {
    position: absolute;
    top: -80px;
    font-size: 50px; }
  #reviews .content i.fa-quote-right {
    position: absolute;
    top: 80px;
    font-size: 50px;
    right: 0; }

@media only screen and (max-width: 768px) {
  #proof .content {
    right: 15px; }
  #facility .content {
    left: 15px; } }

@media only screen and (max-width: 480px) {
  .split .content {
    width: 100% !important;
    padding: 40px 0; }
  .split a {
    width: 100% !important; }
  #survey .info {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 0; }
  #commit .content {
    padding-left: 0; }
  .detail .small {
    display: none; }
  .detail .big {
    display: initial; }
  .detail .content {
    position: initial;
    padding: 40px 15px; }
  #reviews .swiper-slide {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 15px !important;
    padding-right: 15px !important; }
    #reviews .swiper-slide i {
      display: none; }
    #reviews .swiper-slide .content {
      margin: 0; } }
