
#benefit{
    padding-top: 40px;
    padding-bottom: 40px;
    background: url(../images/details/background.png);
    hr{
        width: 100px; 
        margin: 0 auto;
        border-top: 1px solid #a8a8a8;
        margin-top: 0 !important;
        margin-bottom: 30px;
    }
    p{
        color: #5a5a5a;
        line-height: 25px;
    }
    h5{
        line-height: 25px;
    }
}//#benefit

.size{
    p{
        font-size: 13px;
    }
}

#survey{
    position: relative;
    img{
        height: 646px;
    }
    .info{
        h4{
            font-size: 20px;
        }
        position: absolute;
        top: 60px;
        left: 80px;
        color: white;
        width: 640px;
        background: rgba(171, 0, 0, 0.59);
        border-radius: 20px;
        padding: 50px;
        border: none;
        p{
            font-weight: 300;
            color: #fbc8c8;
            span{
                color: white;
            }
        }
    }
}

#locate{
    background: url(../images/details/background.png);
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a{
        height: 464px;
        width: 45%;
    }
    .content{
        h3{
            margin-top: 40px;
        }
        p{
            font-size: 13px;
            color: #4b4b4b;
            i{
                color: #005db3;
                padding-right: 15px;
            }
        }
    }
}//#locate

.detail{
    position: relative;
    img{
        height: 487px;
        width: 100%;
    }
    .small{
        display: none;
    }
    .content{
        position: absolute;
        top: 70px;
        p{
            font-size: 13px;
            color: #4b4b4b;
            i{
                font-size: 6px;
                transform: translateY(-3px);
                color: #005db3;
                padding-right: 5px;
            }
        }
    }
}

#facility{
    .content{
        left: 80px;
    }
}

#proof{
    margin-top: 50px;
    margin-bottom: 50px;
    .content{
        right: 80px;
        
    }
}
.split{
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .content{
        width: 50%;
    }
    a{
        width: 50%;
        img{
            width: 100%;
            height: 100%;
        }
    }
}

#rooms{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow:0 0 4px 3px #efefef;
    padding-top: 50px;
    img{
        padding-right: 50px;
    }
}

#sale{
    margin-top: 50px;
    margin-bottom: 50px;
    a{
        width: 65%;
    }
    .content{
        width: 35%;
    }
}

#commit{
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow:0 0 4px 3px #efefef;
    padding-top: 50px;
    a{
        width: 35%;
    }
    .content{
        width: 65%;
        padding-left: 100px; 
        i{
            color:#005db3;
            padding-right: 10px;
        }
    }
}
#reviews {
    .swiper-container {
        width: 100%;
        height: 100%;
        margin: 20px auto;

        .swiper-slide {
            background: #005db3;
            color: white;
            text-align: center;
            border: none;
            font-size: 18px;
            padding: 30px 50px;
            border-radius: 10px;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
    }
    .content{
        position: relative;
        font-weight: 300;
        margin-left: 50px;
        i.fa-quote-left{
            position: absolute;
            top: -80px;
            font-size: 50px;
        }
        i.fa-quote-right{
            position: absolute;
            top: 80px;
            font-size: 50px;
            right: 0;
        }
    }
    

}
@media only screen and (max-width:991px){}
@media only screen and (max-width:768px){
    #proof{
        .content{
            right: 15px;
        }
    }
    #facility{
        .content{
            left: 15px;
        }
    }

}
@media only screen and (max-width:480px){
    .split{
        .content{
            width: 100% !important;
            padding: 40px 0;
        }
        a{
            width: 100% !important;
        }
    }
    #survey{
        .info{
            width: 100%;
//            position: initial;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: 0;
        }
    }
    #commit{
        .content{
            padding-left: 0;
        }
    }
    .detail{
        .small{
            display: none;
        }
        .big{
            display: initial;
        }
        .content{
            position: initial;
            padding: 40px 15px;
        }
    }
    #reviews{
        .swiper-slide{
            flex-wrap: wrap;
            padding-left: 15px !important;
            padding-right: 15px !important;
            i{
                display: none;
            }
            .content{
                margin: 0;
            }
        }
    }
}
@media only screen and (max-width:360px){}
@media only screen and (max-width:320px){}