* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.menuappear {
  position: fixed;
  display: initial !important;
  top: 0;
  width: 100%;
  z-index: 4234; }

.affix {
  width: 100%;
  padding: 0;
  z-index: 4324242; }

#menuFixed {
  display: none;
  top: 0; }

#menu {
  z-index: 32321; }

#substitute {
  height: 70px;
  display: none; }

body {
  font-family: 'Roboto', sans-serif; }

nav.navbar {
  background: #c70017 !important;
  border: none;
  border-radius: 0;
  margin-bottom: 0 !important; }
  nav.navbar .navbar-header {
    height: 70px; }
    nav.navbar .navbar-header button {
      margin-top: 16px; }
      nav.navbar .navbar-header button span {
        background: white !important; }
    nav.navbar .navbar-header a.navbar-brand {
      padding: 0 !important;
      height: 70px; }
    nav.navbar .navbar-header img {
      height: 100%;
      padding: 5px 0 !important; }
  nav.navbar .collapse {
    padding: 0 !important; }
    nav.navbar .collapse ul.dropdown-menu {
      background: #c70017; }
    nav.navbar .collapse ul li {
      -webkit-perspective: 900px;
      perspective: 900px; }
      nav.navbar .collapse ul li a {
        color: white;
        height: 70px;
        line-height: 70px;
        padding: 0 10px;
        -webkit-transform-origin: 50% 100%;
        -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
      nav.navbar .collapse ul li a:hover {
        color: white;
        -webkit-transform: rotateX(-15deg);
        transform: rotateX(-15deg);
        background: #eb021d;
        -webkit-box-shadow: 0px 6px 12px 1px #7d6969;
        box-shadow: 0px 6px 12px 1px #7d6969; }

#header {
  position: relative; }
  #header .swiper-slide {
    padding: 0; }
    #header .swiper-slide img {
      width: 100%; }
  #header #option {
    position: absolute;
    z-index: 3;
    bottom: 10%;
    background: rgba(255, 255, 255, 0.28);
    padding: 10px 0;
    border-radius: 10px;
    left: 7%; }
    #header #option ul.button {
      display: inline; }
      #header #option ul.button li.items {
        list-style-type: none;
        float: left;
        margin: 0 20px; }
        #header #option ul.button li.items .dropdown button {
          background: white;
          color: black;
          border: none;
          border-radius: 0;
          width: 190px;
          text-align: left; }
          #header #option ul.button li.items .dropdown button span.caret {
            float: right;
            margin-top: 10px; }
        #header #option ul.button li.items .dropdown .dropdown-menu {
          border-radius: 0; }
        #header #option ul.button li.items button.search {
          background: #c70017;
          border: none;
          border-radius: 0;
          color: white;
          width: 100px; }

#flat, #house, #land {
  padding: 40px 80px;
  position: relative;
  border-bottom: 1px solid #dddddd;
  background: url(../images/details/background.png);
  -webkit-box-shadow: inset 0px -11px 15px 0px rgba(156, 154, 154, 0.64);
  box-shadow: inset 0px -11px 15px 0px rgba(156, 154, 154, 0.64); }
  #flat h3.header, #house h3.header, #land h3.header {
    z-index: 3; }
  #flat p, #house p, #land p {
    background: #005db3;
    padding: 10px 0; }
    #flat p a, #house p a, #land p a {
      color: white; }

.project {
  height: 340px !important;
  position: relative; }
  .project img {
    height: 340px;
    width: 100%; }
  .project .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.43);
    z-index: 4;
    color: white;
    top: 0; }
    .project .background h3 {
      height: 100%;
      margin: 0;
      padding-top: 135px;
      font-weight: 100; }
      .project .background h3 span {
        font-weight: 600;
        margin-top: 20px; }

#partner {
  padding-top: 20px;
  padding-bottom: 40px; }
  #partner h1 {
    color: #005db3; }
  #partner hr {
    border-top: 1px solid #c7c7c7;
    position: relative; }
  #partner hr:after {
    content: "";
    width: 100px;
    position: absolute;
    height: 3px;
    top: -1px;
    background: #005db3; }
  #partner .swiper-container .swiper-slide {
    padding: 0 10px;
    border: 0 !important; }

footer {
  height: 400px;
  position: relative;
  overflow: hidden; }
  footer img {
    height: 100%;
    position: absolute;
    z-index: 2; }
  footer #info {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    z-index: 4;
    margin-top: 55px; }
    footer #info .items {
      padding-left: 40px;
      width: 25%;
      color: white;
      font-size: 13px; }
      footer #info .items a {
        color: white;
        font-size: 13px; }
  footer #slogan {
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    color: white; }
    footer #slogan hr {
      border-top: 1px solid #2088ea; }
    footer #slogan span {
      color: #2088ea; }
