*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

.menuappear{
    position: fixed;
    display: initial !important;
    top: 0;
    width: 100%;
    z-index: 4234;
}

.affix{
    width: 100%;
    padding: 0;
    z-index: 4324242;
}
#menuFixed{
    display: none;
    top: 0;
}
#menu{
    z-index: 32321;
    
}
#substitute{
    height: 70px;
    display: none;
}
body{
    font-family: 'Roboto', sans-serif;
}

nav.navbar{
//    overflow: hidden;
    background: #c70017 !important;
//    height: 70px;
    border: none;
    border-radius: 0;
    margin-bottom: 0 !important;
    .navbar-header{
        height: 70px;
        button{
            margin-top: 16px;
            span{
                background: white !important;
            }
        }
        a.navbar-brand{
            padding: 0 !important;
            height: 70px;
            
        }
        img{
            height: 100%;
            padding: 5px 0 !important;
        }
    }//navbar-header
    .collapse{
        ul.dropdown-menu{
            background: #c70017;
        }
        padding: 0 !important;
        ul{
            
            li{
//                height: 70px;
                perspective: 900px;
                
                a{
                    color: white;
                    height: 70px;
                    line-height: 70px;
                    padding: 0 10px;
                    transform-origin: 50% 100%;
                    transition: all 0.4s;
                }
                a:hover{
                    color: white;
                    transform: rotateX(-15deg);
                    background: #eb021d;
                    box-shadow: 0px 6px 12px 1px #7d6969;
                    
                }
            }
        }
    }//collapse
}//navbar
#header{
    position: relative;
    .swiper-slide{
        padding: 0;
        img{
            width: 100%;
        }
    }
    #option{
        position: absolute;
        z-index: 3;
        bottom:10%;
        background: rgba(255, 255, 255, 0.28);
        padding: 10px 0;
        border-radius: 10px;
        left: 7%;
        ul.button{
            display: inline;
            li.items{
                list-style-type: none;
                float: left;
                margin: 0 20px;
                .dropdown{
                    button{
                        background: white;
                        color: black;
                        border: none;
                        border-radius: 0;
                        width: 190px;
                        text-align: left;
                        span.caret{
                            float: right;
                            margin-top: 10px;
                        }
                    }
                    .dropdown-menu{
                        border-radius: 0;
                    }
                }
                button.search{
                    background: #c70017;
                    border: none;
                    border-radius: 0;
                    color: white;
                    width: 100px;
                }
            }
            
        }
    }
}//#header

#flat,#house,#land{
    padding: 40px 80px;;
    position: relative;
    border-bottom: 1px solid #dddddd;
    background: url(../images/details/background.png);
    box-shadow:inset 0px -11px 15px 0px rgba(156, 154, 154, 0.64);
    h3.header{
        z-index: 3;
        
    }
    p{
        background: #005db3;
        padding: 10px 0;
        a{
            color: white;
        }
    }
}

.project{
    height: 340px !important;
    position: relative;
    img{
        height: 340px;
        width: 100%;
    }
    .background{
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.43);
        z-index: 4;
        color: white;
        top: 0;
        h3{
            height: 100%;
            margin: 0;
            padding-top: 135px;
            font-weight: 100;
            span{
                font-weight: 600;
                margin-top: 20px;
            }
        }
    }
}

#partner{
    padding-top: 20px;
    padding-bottom: 40px;
    h1{
        color: #005db3;
    }
    hr{
        border-top: 1px solid #c7c7c7;
        position:relative;
        
    }
    hr:after{
        content: "";
        width: 100px;
        position: absolute;
        height: 3px;
        top: -1px;
        background: #005db3;
    }
    
    .swiper-container{
        .swiper-slide{
            padding: 0 10px;
            border: 0 !important;
        }
    }
}
footer{
    height: 400px;
    position: relative;
    overflow: hidden;
    img{
        height: 100%;
        position: absolute;
        z-index: 2;
    }
    #info{
        position: absolute;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        z-index: 4;
        margin-top: 55px;
        
        .items{
            padding-left: 40px;
            width: 25%;
            color: white;
            font-size: 13px;
            a{
                color: white;
                font-size: 13px;
            }
        }
    }
    #slogan{
        position: absolute;
        bottom: 0;
        z-index: 5;
        width: 100%;
        color: white;
        hr{
            border-top: 1px solid #2088ea;
        }
        span{
            color: #2088ea;
        }
    }
}
