html, body {
  position: relative;
  height: 100%; }

#slider {
  height: auto; }
  #slider .swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto; }
  #slider .swiper-slide {
    background-size: cover;
    background-position: center;
    border: none !important; }
  #slider .gallery-top {
    height: 80%;
    width: 100%; }
    #slider .gallery-top img {
      width: 100%;
      height: 100%; }
  #slider .gallery-thumbs {
    height: 20%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px 0; }
  #slider .gallery-thumbs .swiper-slide {
    height: 100%; }
    #slider .gallery-thumbs .swiper-slide img {
      height: 100%;
      width: 100%; }
  #slider .gallery-thumbs .swiper-slide-active {
    border: 3px solid #2a82b7 !important;
    padding: 0; }

#model h2 {
  border-left: 4px solid #eaa903;
  padding-left: 15px; }

#model hr {
  border-bottom: 1px solid #b4b4b4;
  position: relative;
  z-index: 2;
  margin-top: 0; }

#model hr:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -5px;
  left: 70px;
  background: white;
  z-index: 4;
  border-bottom: 1px solid #b4b4b4;
  border-right: 1px solid #b4b4b4; }

#body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: Roboto !important;
  padding: 40px 80px; }
  #body .left {
    width: 28%; }
    #body .left h4 {
      border-left: 4px solid #eaa903;
      font-size: 20px;
      font-weight: 600;
      padding-left: 15px; }
    #body .left #sign {
      margin-top: 40px; }
      #body .left #sign .contact {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        #body .left #sign .contact span {
          background: gray;
          color: #ffeb3b;
          width: 13%;
          text-align: center;
          line-height: 100%;
          font-size: 40px;
          padding-top: 20px; }
        #body .left #sign .contact .phone {
          width: 87%;
          padding-left: 20px;
          background: #555; }
          #body .left #sign .contact .phone h3 {
            color: #ffeb3b; }
          #body .left #sign .contact .phone p {
            color: #ddd; }
      #body .left #sign .locate {
        padding: 15px 0;
        background: #eaa903;
        color: white;
        font-size: 17px; }
      #body .left #sign .spark {
        text-align: center;
        padding: 15px 0;
        color: #f40b0b;
        -webkit-animation: blink 1.5s linear infinite;
        animation: blink 1.5s linear infinite;
        font-weight: 600;
        background: #eee; }

@-webkit-keyframes blink {
  0% {
    color: white; }
  40% {
    opacity: #f40b0b; }
  100% {
    opacity: white; } }

@keyframes blink {
  0% {
    color: white; }
  40% {
    opacity: #f40b0b; }
  100% {
    opacity: white; } }
      #body .left #sign .form {
        padding: 0 15px;
        background: #eee; }
        #body .left #sign .form input {
          border-radius: 0;
          margin-bottom: 20px; }
        #body .left #sign .form .checkbox label {
          font-weight: 600;
          font-size: 13px; }
        #body .left #sign .form button {
          width: 100%;
          background: #e50f0f;
          color: white;
          margin-bottom: 20px;
          padding: 15px 0;
          font-size: 16px; }
    #body .left #performance ul li {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #body .left #performance ul li p {
        border-left: 4px solid #efefef;
        padding-left: 15px; }
      #body .left #performance ul li p.left {
        width: 45%; }
      #body .left #performance ul li p.right {
        width: 50%;
        font-weight: 600; }
  #body .right {
    width: 67%; }

@media only screen and (max-width: 991px) {
  #body .left {
    width: 30%; } }

@media only screen and (max-width: 768px) {
  #body .left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2; }
  #body .right {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1; } }
