html, body {
    position: relative;
    height: 100%;
}
#slider{
    height: auto;
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
        border: none !important;
    }
    .gallery-top {
        height: 80%;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .gallery-thumbs {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        height: 100%;
        img{
            height: 100%;
            width: 100%;
        }
    }
    .gallery-thumbs .swiper-slide-active {
        border: 3px solid #2a82b7 !important;
        padding: 0;
    }
} 
#model{
    h2{
        border-left: 4px solid #eaa903;
        padding-left: 15px;
    }
    hr{
        border-bottom: 1px solid #b4b4b4;
        position: relative;
        z-index: 2;
        margin-top: 0;
    }
    hr:after{
        content: "";
        position: absolute;
        height: 10px;
        width: 10px;
        transform: rotate(45deg);
        top: -5px;
        left: 70px;
        background: white;
        z-index: 4;
        border-bottom: 1px solid #b4b4b4;
        border-right:  1px solid #b4b4b4;
    }
}
#body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: Roboto !important;
    padding: 40px 80px;
    .left{
        width: 28%;
        h4{
            border-left: 4px solid #eaa903;
            font-size: 20px;
            font-weight: 600;
            padding-left: 15px;
        }
        #sign{
            margin-top: 40px;
            h4{
                
            }
            .contact{
                display: flex;
                flex-wrap: wrap;
                span{
                    background: gray;
                    color: #ffeb3b;
                    width: 13%;
                    text-align: center;
                    line-height: 100%;
                    font-size: 40px;
                    padding-top: 20px;
                }
                .phone{
                    width: 87%;
                    padding-left: 20px;
                    background: #555;
                    h3{
                        color: #ffeb3b;
                    }
                    p{
                        color: #ddd;
                    }
                }
            }
            .locate{
                padding: 15px 0;
                background: #eaa903;
                color: white;
                font-size: 17px;
            }
            .spark{
                text-align: center;
                padding: 15px 0;
                color: #f40b0b;
                animation: blink 1.5s linear infinite;
                font-weight: 600;
                background: #eee;
            }
            @keyframes blink{
                0%{
                    color: white;
                }
                40%{
                    opacity: #f40b0b;
                }
                100%{
                    opacity: white;
                }
            }
            .form{
                padding: 0 15px;
                background: #eee;
                input{
                    border-radius: 0;
                    margin-bottom: 20px;
                }
                select{
                }
                .checkbox{
                    label{
                        font-weight: 600;
                        font-size: 13px;
                    }
                }
                button{
                    width: 100%;
                    background: #e50f0f;
                    color: white;
                    margin-bottom: 20px;
                    padding: 15px 0;
                    font-size: 16px;
                }
            }
            
        }
        #performance{
            ul{
                li{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    p{
                        border-left: 4px solid #efefef;
                        padding-left: 15px;
                    }
                    p.left{
                        width: 45%;
                    }
                    p.right{
                        width: 50%;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .right{
        width: 67%;
    }
}
@media only screen and (max-width:991px){
    #body{
        .left{
            width: 30%;
        }
    }
}
@media only screen and (max-width:768px){
    #body{
        .left{
            width: 100%;
            order: 2;
        }
        .right{
            width: 100%;
            order: 1;
        }
    }
}
@media only screen and (max-width:480px){}
@media only screen and (max-width:360px){}
@media only screen and (max-width:320px){}