a {
  text-decoration: none !important; }

.swiper-slide {
  padding: 5px;
  border: 1px solid #d3d3d3; }
  .swiper-slide a {
    width: 100% !important; }
    .swiper-slide a img {
      width: 100% !important; }
  .swiper-slide p {
    margin-bottom: 0; }

#flat .swiper-button-next, #house .swiper-button-next, #land .swiper-button-next {
  background: #cccccc !important;
  height: 25px;
  width: 25px;
  text-align: center;
  position: absolute;
  color: white;
  line-height: 25px;
  top: 60px;
  right: 80px;
  border-radius: 3px;
  z-index: 4; }

#flat .swiper-button-prev-1, #house .swiper-button-prev-1, #land .swiper-button-prev-1 {
  color: white;
  line-height: 25px;
  position: absolute;
  text-align: center;
  height: 25px;
  width: 25px;
  background: #cccccc !important;
  top: 38px;
  right: 120px;
  cursor: pointer;
  border-radius: 3px;
  z-index: 4; }

#project .swiper-container {
  width: 100%;
  height: 100%; }

#project .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

@media only screen and (max-width: 991px) {
  #menu ul.nav {
    width: 100%; }
  nav.navbar {
    overflow: visible;
    height: auto; }
    nav.navbar a {
      padding-left: 40px !important;
      height: auto;
      color: white !important; }
    nav.navbar .dropdown.open .dropdown-toggle {
      background: #eb021d !important; }
    nav.navbar .collapse {
      height: auto; }
      nav.navbar .collapse ul li a {
        height: 50px !important; } }

@media only screen and (max-width: 768px) {
  #header #option {
    left: 2%; }
    #header #option ul.button li.items {
      margin: 10px 10px; }
      #header #option ul.button li.items .dropdown button {
        width: 170px; }
  .swiper-button-next {
    right: 20px !important; }
  .swiper-button-prev-1 {
    right: 50px !important; }
  footer {
    height: 550px; }
    footer #info .items {
      width: 50% !important;
      margin-bottom: 20px; } }

@media only screen and (max-width: 480px) {
  #header {
    height: 200px; }
    #header img {
      height: 100%; }
    #header #option {
      width: 90%; } }

@media only screen and (max-width: 360px) {
  footer {
    height: 980px; }
    footer #info .items {
      padding: 0;
      width: 100% !important; }
  #flat .swiper-button-next, #house .swiper-button-next, #land .swiper-button-next {
    top: 32px !important; }
  #flat .swiper-button-prev-1, #house .swiper-button-prev-1, #land .swiper-button-prev-1 {
    top: 10px !important; } }

@media only screen and (max-width: 320px) {
  #header {
    height: 280px; } }
